<div class="container we-are-img-text">
    <div>
        <img class="imgwearecard" alt="wearecard" src="../../assets/we-are-img-card-1.svg">
        
    </div>
    <h3> 
        <!-- We Are Dynamic! -->
        {{WeAreTitleCard}}
     </h3>

    <p class="wearecardtext">
        <!-- Being a dynamic, DUBAI based, venture capital business, Milaya Capital owns a portfolio of exciting brands that prosper in the local retail and property industries. Even though relatively young, Milaya Capital’s growth across different sectors has been exponential. -->
        {{WeAreDescriptionCard}}
    </p>
   

</div>
