@import '../../variables';
.media {
    position: relative;
    .thumbnail{
        width: 100%;
        height: auto;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%; //TODO: remove this when you get the right dimention photo from designer
        border-radius: 20px;
    }
    .play-center-btn {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 45%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        color: #fff;
        font-size: 45px;
    }

    .video-player {
        width: 100%;
        border-radius: 20px;

    }
    .image-div{
        img{
            width: 100%;
            border-radius: 20px;
        }
    }
}