@import '../../../variables';

.we-are-home {
    position: relative;
    margin-right: calc(var(--bs-gutter-x) * 1.5);
    margin-left: calc(var(--bs-gutter-x) * 3);

    .we-are-left-div {
        padding: 50px 30px 30px 30px;
        background-color: $white;
        overflow: hidden;
        position: relative;
        display: inline-block;

        .box-title {
            i,
            h3 {
                display: inline-block;
                vertical-align: top;
                color: $dark-grey;
                font-size: $h3-font;
                font-weight: 600;
                line-height: 27px;
            }

            i {
                margin-left: 10px;
            }
        }

        .three-rings {
            img {
                position: absolute;
                top: 0px;
                right: 0px;
            }
        }

        p.bold {
            margin-top: 25px;
            font-size: $p-font;
            font-weight: 600;
            line-height: 17px;
            color: $dark-grey;
        }

        p {
            font-size: $p-font;
            font-weight: 500;
            line-height: 17px;
            color: $overview-color;
        }

        @media screen and (max-width: 1000px) {
            width: 300px;
        }
    }

    @media screen and (max-width: 1000px) {
        margin: 0px 25px 24px 24px;
    }

    .moving-ring1 {
        animation: moveAnimation 700ms ease-out;
        animation-fill-mode: forwards;
    }

    .moving-ring2 {
        animation: moveAnimation 750ms ease-out;
        animation-fill-mode: forwards;
    }

    .moving-ring3 {
        animation: moveAnimation 800ms ease-out;
        animation-fill-mode: forwards;
    }

    @keyframes moveAnimation {
        from {
            transform: translate(-200px, 200px);
        }

        to {
            transform: translate(0, 0);
        }
    }

}

.we-are-right-img {
    z-index: 1;
}

.we-are-home.mobile {
    margin: 0px;

    .we-are-left-div {
        width: 100%;
    }
}

.we-are-right-img.mobile {
    img {
        width: 100%;
        margin-top: 20px;

    }
}