
<div class="what-we-do" *ngIf="!isMobile" >
    <app-what-we-do-card  [@fadeInFromBottomToTop1] [title]="'Property Letting and Real Estate'" [description]="'In the UK and UAE, we specialize in property leQng and the opera:ons of own or leased real estate. Whether you\'re searching for a new place to call home or seeking professional property management services, our team has you covered. We take pride in helping tenants find their dream proper:es and property owners maximize their investments.'"></app-what-we-do-card>
    <app-what-we-do-card  [@fadeInFromBottomToTop2] [title]="'Restaurant & Dining'" [description]="'In Dubai and Athens, we have a selection of top-notch restaurants that offer culinary delights from around the world. Our experienced chefs and attentive staff ensure that every dining experience is a memorable one. Whether you\'re looking for fine dining or a casual meal with friends and family, we have the perfect venues. Savor the flavors of the Mediterranean and international cuisine at our restaurants. Our talented chefs use only the freshest, locally sourced ingredients to create a culinary master.'"></app-what-we-do-card>
    <app-what-we-do-card  [@fadeInFromBottomToTop3] [title]="'Retail'" [description]="'Our successful businesses in the UK provide our customers with quality and quintessential. British style and global exploration service with a wide range of satisfying services to different tastes and preferences, with its 25 locations all in Central London. From trendy fashion barber shops to specialty coffee shops, we provide our customers with high-quality products and a memorable experience. Our coffee shops are cozy havens where you can enjoy exceptional coffee and breakfast in town in a warm ambiance. From your morning caffeine fix to afternoon meetings or relaxation, our coffee shops are your go-to destination in London. '"></app-what-we-do-card>
</div>

<div class="what-we-do-slider"  [ngClass]="{'mobile':isMobile}" *ngIf="isMobile" >
    <owl-carousel-o class="container" [options]="customOptions">
        <ng-container *ngFor="let slide of slides; let i = index;">
            <ng-template carouselSlide>
                <app-what-we-do-card  [@fadeInFromBottomToTop1] [title]="slide.title" [description]="slide.description"></app-what-we-do-card>
               </ng-template>
        </ng-container>
    </owl-carousel-o>
</div>