
<!-- What we do section  -->
<div class="what-we-do" *ngIf="!isMobile" >
    <ng-container *ngFor="let slide of slides; let i = index;">
        <app-what-we-do-card  [@enterFromBottom1]="animationStates.enterFromBottom1"  [title]="slide.title" [description]="slide.description"></app-what-we-do-card>
    </ng-container>
</div>

<div class="what-we-do-slider"  [ngClass]="{'mobile':isMobile}" *ngIf="isMobile" >
    <owl-carousel-o class="container" [options]="customOptions">
        <ng-container *ngFor="let slide of slides; let i = index;">
            <ng-template carouselSlide>
                <app-what-we-do-card  [@enterFromBottom1]="animationStates.enterFromBottom1"  [title]="slide.title" [description]="slide.description"></app-what-we-do-card>
               </ng-template>
        </ng-container>
    </owl-carousel-o>
</div>