@import '../../../variables';
.what-we-do {
    display: flex;

    app-what-we-do-card {
        flex: 1;
        padding-right: 0px;

        &:not(:last-child) {
            margin-right: 40px; 

            @media screen and (max-width: 800px) {
                margin-right: 10px; 
            }
        }
        
        background: linear-gradient(90deg, #565656 0%, #4f4f4f 35%, #343434 100%);
        border: 1px solid $white;
    }

}

.what-we-do-slider.mobile{
    display: block;
    
}