@import '../../variables';

.footer {
    padding-top: 50px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;

    .f-col {
        flex: 2;
    }

    .m-col {
        flex: 1;
    }

    .s-col {
        flex: 3;
    }

    .text-danger {
        font-size: $p-desc-port;
    }

    .footer-logo {
        margin-bottom: 25px;
        margin-top: 25px;
    }

    p.footer-description {
        color: $mid-grey;
        font-size: $p-desc-port;
        line-height: 14px;
        font-weight: 500;
    }

    .footer-input {
        border-style: solid;
        border: 0.5px solid $placeholder-border;
        border-width: 0.5px;


        input {
            border-style: none;
            background: $light-grey;

        }

        input::placeholder {
            font-weight: 500;
            font-size: $tiny-font ;
            color: $placeholder-grey ;

        }

        .input-group-append {
            .input-group-text {
                border-radius: 0px;
                margin: 2px;
            }

            span {
                background-color: $brand;
                color: $white;


            }
        }

        .input-group-append {
            cursor: pointer;
        }
    }

    .social-media-wrapper {
        display: inline;

        img {
            padding-right: 30px;
            cursor: pointer;
        }
    }


    .quick-links {
        h4.title {
            font-size: $h2-font ;
            font-weight: 600;
            line-height: 24px;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .grey-p-small {
            color: $mid-grey ;
            font-weight: 500;
            line-height: 19px;
            font-size: $p-portfolio;
            cursor: pointer;
        }
    }

    .get-in-touch {
        h4.title {
            font-size: $h2-font ;
            font-weight: 600;
            line-height: 24px;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .grey-p-small,
        .black-p-small {
            font-weight: 500;
            line-height: 18px;
            font-size: $s-font ;
            margin-top: 20px;
        }

        .grey-p-small {
            color: $mid-grey ;
        }

        .black-p-small {
            color: $black ;
        }
    }
}

.footer-copy-rights {
    margin-top: 20px;
    color: $mid-grey;
    font-size: $p-desc-port;
    line-height: 16px;
    font-weight: 500;
}

.footer.mobile {
    padding-top: 0px;
    display: block;
    .f-col{
        div{
            text-align: center;
        }
    }
    .s-col{
        margin: 10px;
    }
    .footer-logo{
        text-align: center;
    }
    .social-media-wrapper{
        img{
            width: 15%;
        }
    }
}
p.footer-copy-rights.mobile{
    text-align: center;
}