.footer{
    .footer-logo{
        margin-bottom: 50px;
    }
    .footer-description{
        color: #909292;
        font-size: 15px;
        line-height: 14px;
        font-weight: 500;
    }
    .footer-input{
        border-style: solid;
        border-color: #909292;
        border-width: 0.5px;
        input{
            border-style: none;
        }
        .input-group-append{
            .input-group-text{
                border-radius: 0px;
                margin: 2px;
            }
            span{
                background-color: #2C55F1;
                color: #fff;
                i{
                }
            }  
        }
    }
    .social-media-wrapper{
        display: inline;
        img{
            padding-right: 30px;
        }
    }

    .footer-copy-rights{
        margin-top: 20px;
        // overflow:auto;
        color: #909292;
        font-size: 15px;
        line-height: 14px;
        font-weight: 500;
    }
    .quick-links{
        p{
            margin-top: 20px;
            color: #909292;
            font-size: 15px;
            line-height: 14px;
            font-weight: 500;
        }
    }
    .get-in-touch{
        .email,.address{
            p{
                margin-top: 20px;
                margin-bottom: 5px;
                color: #909292;
                font-size: 15px;
                line-height: 14px;
                font-weight: 500;

            }
            span{

            }
        }
    }
}
