@import '../../variables';
.counter-card{
    display: flex;
    h1{
        color: $brand;
        display: inline;
    }
    .col-counter-num{
        max-width: 30%;
    }
    .col-counter-desc{
        margin-top: auto;
        margin-bottom: auto;
        font-size: $s-font;

    }
}