@import '../../variables';
.counter-card{
    
    h1{
        color: #2C55F1;
        display: inline;
    }
    .col-counter-num{
        max-width: 30%;
    }
    .col-counter-desc{
        margin-top: auto;
        margin-bottom: auto;
        font-size: 15px;

    }
}