  .mission-card {
      min-height: 300px;
      margin: 10px;

      .icon-mission-card {
          i {
              color: #fff;
              font-size: 18px;
              background-color: #2C55F1;
              padding: 15px;
              border-radius: 24px;
          }
      }

      .mission-card-title {
          padding-top: 20px;
          font-size: 18px;
          line-height: 26px;
          font-weight: 600;
      }

      .mission-card-image {
          border-radius: 20px;
      }

      .mission-card-description {
          max-width: 200px;
          color: #909292;
          font-weight: 500;
          size: 13px;
          line-height: 20px;
          padding-top: 20px;
      }
  }


  // .owl-carousel{
  //     padding: 300px;
  //     position: relative !important;
  //     .fa-chevron-left{
  //         color: #909292;
  //         background-color: #fff;

  //     }
  // }