<div [@fadeInFromTop2]>
    <owl-carousel-o class="container" [options]="customOptions">
        <ng-container *ngFor="let slide of slides">
            <ng-template carouselSlide>

                <div class="mission-card">
                    <div class="icon-mission-card">
                        <i [class]="slide.icon"></i>
                    </div>
                    <p class="mission-card-title">
                        {{slide.title}}
                    </p>
                    <div class="mission-card-image">
                        <img alt="mission" [src]="slide.img">
                    </div>

                    <p class="mission-card-description">
                        {{slide.descr}}
                    </p>

                </div>


            </ng-template>

        </ng-container>

    </owl-carousel-o>
</div>