@import '../../variables';
  .mission-card {
      min-height: 300px;
      margin: 10px;

      .icon-mission-card {
          i {
              color: $white;
              font-size: $md-font-p;
              background-color: $brand;
              padding: 15px;
              border-radius: 24px;
          }
      }

      .mission-card-title {
          padding-top: 20px;
          font-size:$md-font-p;
          line-height: 26px;
          font-weight: 600;
      }

      .mission-card-image {
          border-radius: 20px;
      }

      .mission-card-description {
          max-width: 200px;
          color:$mid-grey;
          font-weight: 500;
          size: 13px;
          line-height: 20px;
          padding-top: 20px;
      }
  }

  .mission-card.mobile{
    .mission-card-image{
        margin: 20px;
    }
    .mission-card-description{
        margin: 20px;
    }
  }