<owl-carousel-o class="container" [options]="customOptions">

    <ng-container *ngFor="let slide of slides">
            <ng-template carouselSlide>

                <div class="mission-card">
                    <div class="icon-mission-card">
                        <i [class]="slide.icon"></i>
                    </div>
                    <p class="mission-card-title">
                        {{slide.title}}
                    </p>
                    <div class="mission-card-image">
                        <img alt="mission" [src]="slide.img">
                        <!-- <img alt="mission" src="../../assets/mission-1.svg"> -->
                    </div>

                    <p class="mission-card-description">
                        {{slide.descr}}
                        <!-- real estate agent, rent house, mls listings, land for sale, houses for rent, realtor, -->
                    </p>

                </div>


            </ng-template>

    </ng-container>

</owl-carousel-o>