<div class="we-are-home container"  [ngClass]="{'mobile':isMobile}" >
    <div class="container we-are-left-div">
        <span class="box-title">
            <h3 [@fadeInFromLeft]>Our Work </h3>
            <i class="bi bi-arrow-up-right" [@fadeInFromTop]></i>
        </span>
        <div class="three-rings">
            <img [@enterFromBottomLeftToTopRight3] src="../../assets/inner-circle.svg" alt="inner" />
            <img [@enterFromBottomLeftToTopRight2] src="../../assets/inner-circle-border-1.svg" alt="inner2" />
            <img [@enterFromBottomLeftToTopRight1] src="../../assets/inner-circle-border-2.png" alt="inner2" />
        </div>
        <p class="bold" [@fadeInFromBottom]>At Milaya Capital, we are proud to operate successful businesses in three different countries:
        </p>
        <p [@fadeInFromBottom]>United Kingdom, United Arab Emirates, and Greece. With a commitment to excellence, we run various successful
            businesses and that cater to various aspects of leting and operating of own or leased real estate,
            hospitality, Oil & Gas Rigs and Aviation Industry.</p>
    </div>
</div>
<div class="we-are-right-img" [ngClass]="{'mobile':isMobile, 'container':isMobile}" >
    <img [@fadeInFromRight] src="../../assets/we-are-home-img.svg" alt="wearehom">
</div>