@import '../../variables';

.we-are-home {
    margin: 0px 65px 24px 24px;

    .we-are-left-div {
        padding: 50px 30px 30px 30px;
        background-color: $white;
        overflow: hidden;
        position: relative;
        display: inline-block;

        .box-title {

            i,
            h3 {
                display: inline-block;
                vertical-align: top;
                color: $dark-grey;
                font-size: $h3-font;
                font-weight: 600;
                line-height: 27px;
            }

            i {
                margin-left: 10px;
            }
        }

        .three-rings {
            img {
                position: absolute;
                top: 0px;
                right: 0px;
            }
        }

        p.bold {
            margin-top: 25px;
            font-size: $p-font;
            font-weight: 600;
            line-height: 17px;
            color: $dark-grey;
        }

        p {
            font-size: $p-font;
            font-weight: 500;
            line-height: 17px;
            color: $overview-color;
        }

        @media screen and (max-width: 1000px) {
            width: 300px;
        }
    }

    @media screen and (max-width: 1000px) {
        margin: 0px 25px 24px 24px;
    }

}

.we-are-home.mobile {
    margin: 0px;

    .we-are-left-div {
        width: 100%;
    }
}

.we-are-right-img.mobile{
    img{
        width: 100%;
        margin-top: 20px;

    }
}