<div class="container we-are-home row">
    <div class="we-are-left-div col-5">
        <h3>Our Work</h3>
        <div class="circle"></div>
        <p>At Milaya Capital, we are proud to operate successful businesses in three different countries:</p>
        <p>United Kingdom, United Arab Emirates, and Greece. With a commitment to excellence, we run various successful businesses and that cater to various aspects of leting and operating of own or leased real estate, hospitality, Oil & Gas Rigs and Aviation Industry.</p>
    </div>
    <div class="we-are-right-img col-7">
        <img src="../../assets/we-are-home-img.svg" alt="wearehom">
    </div>
</div>