<div class="why-choose">
    <div class="row">
        <div class="col-3">   
            <span class="breadcrumb">WHY CHOOSE MILAYA CAPITAL’S</span>
            <!-- <h1>WHY CHOOSE MILAYA CAPITAL’S</h1> -->
        </div>
        <div class="col-9">
            <h1>Connecting businesses, ideas, and people for greater impact.</h1>
        </div>
    </div>



    <div class="spacer-div"></div>



    <div class="row">
        <div class="col-5">   
            <hr/>
        </div>
        <div class="col-7">
            <p>We keep you in interaction with many international corporate companies. In this way, communication opportunities increase and we enable access to more portfolios.</p>
        </div>
    </div>
    <div class="spacer-div"></div>
    <div class="row">
        <div class="col"> 
            <app-why-choose-card  [src]="'../../assets/status-up.svg'"  [title]="'Smart Solutions'"  [description]="'All the innovations brought by technology will be with you in your work'"></app-why-choose-card>
        </div>
        <div class="col">
            <app-why-choose-card  [src]="'../../assets/chart-line-up.svg'"  [title]="'High Conversions'"  [description]="'We will support you to get the best conversions from your investments'"></app-why-choose-card>
        </div>
        <div class="col">
            <app-why-choose-card  [src]="'../../assets/status-up.svg'"  [title]="'High Conversions'"  [description]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'"></app-why-choose-card>
        </div>
    </div>
</div>


<div class="spacer-div"></div>
<!-- <i class="bi bi-arrow-right long-arrow"></i> -->
<!-- <hr class="arrow"> -->

<!-- <div class="hr"></div> -->
<div class="spacer-div"></div>


