@import '../../variables';

.why-choose {

    .upper-box {
        display: flex;
        h1 {
            z-index: 1;
            width: 92%;
        }

        .box {
            z-index: 0;
            &:first-child {
                margin-right: 10px;
            }

            &:last-child {
                margin-right: 10px;

                &:after {
                    content: '';
                    display: block;
                    height: 1px;
                    background-color: #ddd;
                    margin-top: 10px;
                }
            }

           
        }
    }

    .lower-box{
        .grey-p-small {
            color: $mid-grey;
            font-weight: 500 ;
            line-height: 18px ;
            font-size: $s-font ;
        }
    }

    .long-arrow{
        width: 100%;
    }

    .why-choose-cards-div{
        display: flex;
        app-why-choose-card{
            flex:1;
            margin: 5px;
            padding: 25px;
            background-color: $white;
        }
    }
}
