@import '../../variables';
.contact-form{
    margin: 20px;
    background-color: $white;
    color: $black;
    border-radius: 20px;
    // width: 90%;
    margin-right: auto;
    margin-left: auto;

    .row {
        .send-message-section{
            // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow */

        }
    }
   

    .send-message-section{
        padding: 35px;

    }
    .get-in-touch{
        color: $white;
        background-color: $brand;
        border-radius: 0px 20px 20px 0px;
        padding: 35px;
        i{
            font-size: 30px;
        }
    }

    .form-floating{
        input, textarea{
            border-style: none;
            border-bottom: 1px solid grey;
            border-radius: 0;
        }
        label{
            padding: 0px;
        }
    }

    .description-p{
        font-size: 12px;
        
    }
}

.col.contact-btn-col{
    margin-bottom: 10px;
    margin-top: auto;
    margin-right: 0px;
    margin-left: auto;
    width: 100%;
}

