<div class="container about"  [ngClass]="{'mobile':isMobile}" >
    <app-overview [pageTitle]="'About Us'"
        [pageOverviewText]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.'"></app-overview>
    <div class="spacer-div"></div>

    <app-we-are-card></app-we-are-card>
    <div class="spacer-div"></div>

    <div class="we-are-cards container">
        <div [@fadeInFromTop1] class="card1">
            <app-we-are-img-text-card [WeAreTitleCard]="'WE ARE DYNAMIC'"
                [WeAreDescriptionCard]="'Being a dynamic, DUBAI based, venture capital business, Milaya Capital owns a portfolio of exciting brands that prosper in the local retail and property industries. Even though relatively young, Milaya Capital’s growth across different sectors has been exponential.'"></app-we-are-img-text-card>
        </div>
        <div [@fadeInFromTop2] class="card2">
            <app-we-are-img-text-card [WeAreTitleCard]="'OUR VISION'"
                [WeAreDescriptionCard]="'Milaya Capital’s vision is to create a better tomorrow for the generations to come. A world where we can live in, a sustainable future hence we pay all our efforts in being environmentally sustainable throughout our company’s operations.'"></app-we-are-img-text-card>
        </div>
    </div>
    <div>
        <div class="spacer-div"></div>
        <div class="counter-cards row container" [@fadeInFromTop]>
            <app-counter-card class="col counter-border"></app-counter-card>
            <app-counter-card class="col counter-border"></app-counter-card>
            <app-counter-card class="col"></app-counter-card>
        </div>
        <div class="spacer-div"></div>
        <div class="divider" [@fadeInFromTop]></div>
    </div>
    <div class="spacer-div"></div>

    <app-clients></app-clients>
    <div class="spacer-div"></div>

    <app-media [mediaType]="'video'"
        [mediaURL]="'http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ElephantsDream.mp4'"></app-media>
</div>
<app-footer> </app-footer>