.clients{
    .title{
        color: #2C55F1;
        font-weight: 600;
        text-align: center;
    }
    h3{
        text-align: center;
        font-weight: 700;
        line-height: 49px;
        width: 40%;
        margin-right: auto;
        margin-left: auto;

    }
}