<!-- Contact Page -->
<div class="contact" [ngClass]="{'mobile':isMobile}" >
    <div class="background-container">
        <div class="first-bg"></div>
    </div>
    <div class="content-container">
        <div class="content container">
            <div class="spacer-div" *ngIf="!isMobile" ></div>
            <app-navbar [isContact]="true" *ngIf="!isMobile" ></app-navbar>
            <app-mobile-navbar [isContact]="true" *ngIf="isMobile" ></app-mobile-navbar>
            <app-overview [light]="'yes'" [pageTitle]="'Contact'"  ></app-overview>
            <div class="spacer-div"></div>
        </div>
    </div>

    <div class="contact-form-wrapper">
        <app-contact-form></app-contact-form>
        <div class="spacer-div" *ngIf="!isMobile"></div>
        <div class="map-container container">
            <app-contact-map *ngIf="!isMobile"></app-contact-map>
            <app-contact-mobile-map *ngIf="isMobile"></app-contact-mobile-map>
        </div>
    </div>
</div>
<app-footer> </app-footer>
