.why-choose-card{
    .card-choose{
        background-color: #fff;
        margin: 10px;
        padding: 10px;

        .col-9{
            text-align: end;
        }

        h4{
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .description{
            color: #909292;
            font-size: 12px;
        }
    }
}