@import '../../../variables';

.portfolio-detail-card {
    display: flex;
    position: relative;

    .image-side {
        flex: 1;
        position: relative;
        margin-right: 15px;

        img {
            width: 100% !important;
            object-fit: cover;
            object-position: center center;
            box-shadow: -33px 33px 0px $dark-grey;
            border-radius: 20px;
            margin-bottom: 33px;

        }
    }

    .text-side {
        flex: 1;
        position: relative;

        h2 {
            color: $dark-grey;
            font-size: $h2-font-big;
            font-weight: 700;
            line-height: 37px;
        }

        p,
        ul {
            font-size: $md-font-p;
            font-weight: 600;
            line-height: 22px;
            color: $mid-grey;
        }

        ul {
            list-style-type: none;
            padding-left: 20px;

            li:before {
                content: '-';
                position: absolute;
                margin-left: -15px;
            }
        }

        .contact-btn {
            border-radius: 0px;
            height: 60px;
        }

        .contact-button {
            position: absolute;
            bottom: 0px;
        }
    }

    .contact-details {
        position: relative;
        flex: 1;

        .d-flex {
            span {
                overflow: hidden;
                max-height: 20px;

            }

            span:hover {
                overflow: visible;
                max-height: 20px;
                font-size: 10px;
            }
        }

        i {
            color: $brand;
            padding: 0px 10px 0px 10px;
        }

        i::before {
            font-weight: 700 !important;
        }

        span {
            color: $contact-det-font;
            font-weight: 600;
            font-size: $s-font;
        }

    }

    .contact-btn-col {
        flex: 0;
        position: relative;
        display: inline-block;
        vertical-align: bottom;

        button {
            border-radius: 0px;
            height: 100%;
            padding: 0px 30px;
        }

        cursor: pointer;
        width: 100%;
    }
}


.mobile.portfolio-detail-card {
    display: block;

    .image-shadow {
        border-radius: 20px;
        float: inherit !important;
        margin: 0px 40px 40px 40px !important;
        border-radius: 20px;
        width: 80%;
    }


    h2.h2-font-big {
        font-size: $h2-font !important;
        line-height: 24px;
        text-align: center;
    }

    p.font-p,
    ul.font-p {
        font-size: $p-font !important;
        line-height: 17px !important;
    }

    .d-flex.contact-button {
        display: block !important;
        text-align: center;

        // margin-top: 10px;
        // padding-top: 10px;
        // border-top: solid 0.1px grey;
    }

    .contact-details {
        .d-flex {
            text-align: left;
        }
    }
}