@import '../../../variables';

.portfolio-detail-card {
    display: flex;
    position: relative;

    .image-side {
        flex: 1;
        position: relative;
        margin-right: 15px;
    }

    .contact-button{
        position: absolute;
        bottom: 0px;
    }

    .text-side {
        flex: 1;

        h2{
            color: $dark-grey;
            font-size: $h2-font-big;
            font-weight: 700;
            line-height: 37px;
        }

        p,
        ul{
            font-size: $md-font-p;
            font-weight: 600;
            line-height: 22px;
            color: $mid-grey;
        }

        ul{
            list-style-type: none;
            padding-left: 20px;

            li:before {
                content: '-';
                position: absolute;
                margin-left: -15px;
            }
        }

        .contact-btn {
            border-radius: 0px;
            height: 60px;

        }
    }


    .contact-details {
        position: relative;
        flex: 1;

        i {
            color: $brand;
            padding: 0px 10px 0px 10px;
        }

        i::before {
            font-weight: 700 !important;
        }

        span {
            color: $contact-det-font;
            font-weight: 600;
            font-size: $s-font;
        }

        .d-flex:last-child{
            position: absolute;
            bottom: 0px;
        }
    }

    .contact-btn-col {
        flex: 1;
        position: relative;

        button {
            border-radius: 0px;
            height: 7.4vh;
            padding: 0px 30px;
        }

        cursor: pointer;
        width: 100%;
    }
}


.mobile.portfolio-detail-card {
    display: block;

    .image-side::before {
        content: "";
        position: absolute;
        top: 30%;
        left: 0;
        width: 80%;
        height: 65%;
        background: $shadow;
        border-radius: 20px;
    }


    .image-shadow {
        border-radius: 20px;
        float: inherit !important;
        margin: 0px 40px 40px 40px !important;
        border-radius: 20px;
        width: 80%;
    }


    h2.h2-font-big {
        font-size: $h2-font !important;
        line-height: 24px;
        text-align: center;
    }

    p.font-p,
    ul.font-p {
        font-size: $p-font !important;
        line-height: 17px !important;
    }

    .d-flex.contact-button {
        display: block !important;
        text-align: center;
    }

    .contact-details {
        .d-flex {
            text-align: left;
        }
    }
}