@import '../../../variables';

.what-we-do-card2 {
    position: relative;
    padding: 50px;

    @media screen and (max-width: 900px) {
        padding: 20px;
    }


    .what-we-do-title {
        color: $white;
        text-align: center;
        margin-bottom: 20px;
        font-weight: 700;
        font-size: $h2-font;
        line-height: 24px;


    }

    .what-we-do-desc {
        text-align: center;
        color: $portfolio-p;
        font-weight: 600;
        font-size: $s-font !important;
        line-height: 23px !important;

    }

    .top-right-img {
        position: absolute;
        top: 0px;
        overflow: hidden;
        width: 88%;

        img {
            width: 100%;
            object-fit: cover;
            object-position: center center;
            transform: rotate(20deg);

        }
    }
}

.what-we-do-card2.left-align {

    .what-we-do-title,
    .what-we-do-desc {
        text-align: left;
    }
}

.what-we-do-card2.top-align {
    padding: 35px;

    .what-we-do-title,
    .what-we-do-desc {
        text-align: left;
    }

    .what-we-do-desc {
        font-weight: 600;
        font-size: $p-portfolio !important;
        line-height: 20px !important;
    }
}

.mobile.what-we-do-card2 {
    background: none;
    border: none;

    .top-right-img {
        img {
            width: 50%;
        }
    }

    .what-we-do-title {
        font-weight: 600;
        font-size: $h2-font !important;
        line-height: 24px !important;
    }

    .what-we-do-desc {
        font-weight: 600;
        font-size: $p-font-sm !important;
        line-height: 19px !important;

    }
}