<!-- Clients Page -->
<div class="clients" [ngClass]="{'mobile':isMobile}">
    <span class="breadcrumb" [@enterFromTop]="animationStates.enterFromTop">CLIENTS</span>
    <h1 class="black" [@enterFromTop1]="animationStates.enterFromTop1"> Look Closer With Our Beloved Client</h1>
    <ngx-slick-carousel dir="rtl" class="carousel c1" #slickModal="slick-carousel" [config]="slideConfig1">
        <div ngxSlickItem *ngFor="let slide1 of slides1;let i = index;" class="slide">
            <div class="logo-img">
                <img [alt]="slide1.name" [src]="slide1.src" />
            </div>
        </div>
    </ngx-slick-carousel>
    <ngx-slick-carousel class="carousel c2" #slickModal="slick-carousel" [config]="slideConfig2">
        <div ngxSlickItem *ngFor="let slide2 of slides2;let i = index;" class="slide">
            <div class="logo-img">
                <img [alt]="slide2.name" [src]="slide2.src" />
            </div>
        </div>
    </ngx-slick-carousel>
</div>