<!-- Portfolio Page -->
<app-loader [isLoading]="isLoading"></app-loader>
<div class="container portfolio" [ngClass]="{'mobile':isMobile}"  *ngIf="!isLoading">
    <app-overview [pageTitle]="'Latest Portfolio'"      ></app-overview>
        <!-- [pageOverviewText]="'Consulting is a long-term investment in your goal’s future.'" -->
    <div class="spacer-div" *ngIf="!isMobile"></div>

    <div class="portfolio-divs" *ngIf="!isMobile && false">
        <app-portfolio-card [imageWay]="'left'"></app-portfolio-card>
        <div class="spacer-div"></div>
        <app-portfolio-card [imageWay]="'right'"></app-portfolio-card>
        <div class="spacer-div"></div>
        <app-portfolio-card [imageWay]="'left'"></app-portfolio-card>
        <div class="spacer-div"></div>
        <app-portfolio-card [imageWay]="'right'"></app-portfolio-card>
    </div>

    <div class="portfolio-divs" *ngIf="isMobile">
        <app-portfolio-card [imageWay]="'top'"></app-portfolio-card>
        <div class="spacer-div"></div>
        <app-portfolio-card [imageWay]="'top'"></app-portfolio-card>
        <div class="spacer-div"></div>
        <app-portfolio-card [imageWay]="'top'"></app-portfolio-card>
        <div class="spacer-div"></div>
        <app-portfolio-card [imageWay]="'top'"></app-portfolio-card>
    </div>



    <div class="portfolio-vertical-divs" *ngIf="!isMobile && true">
       <ng-container *ngFor="let portfolio of portfolios; let i = index;">
        <app-portfolio-vertical-card class="item" [imageWay]="'top'" [id]="portfolio.id"  [image]="portfolio.image" [backgroundImage]="portfolio.backgroundImage" [title]="portfolio.title" [description]="portfolio.description"
            [@fadeInFromTop3]></app-portfolio-vertical-card>
       </ng-container>
    <!--<app-portfolio-vertical-card class="item" [imageWay]="'top'" [@fadeInFromTop2]></app-portfolio-vertical-card>
        <app-portfolio-vertical-card class="item" [imageWay]="'top'" [@fadeInFromTop1]></app-portfolio-vertical-card>
        <app-portfolio-vertical-card class="item" [imageWay]="'top'" [@fadeInFromTop3]></app-portfolio-vertical-card>
        <app-portfolio-vertical-card class="item" [imageWay]="'top'" [@fadeInFromTop3]></app-portfolio-vertical-card>
        <app-portfolio-vertical-card class="item" [imageWay]="'top'" [@fadeInFromTop3]></app-portfolio-vertical-card> -->
    </div>

</div>

<app-footer> </app-footer>