<div class="container portfolio" [ngClass]="{'mobile':isMobile}">
    <app-overview [pageTitle]="'Latest Portfolio'"
        [pageOverviewText]="'Consulting is a long-term investment in your goal’s future.'"></app-overview>
    <div class="spacer-div" *ngIf="!isMobile"></div>
    <div class="portfolio-divs">
        <div class="spacer-div"></div>
        <app-portfolio-card [imageWay]="'left'"></app-portfolio-card>
        <div class="spacer-div"></div>
        <app-portfolio-card [imageWay]="'right'"></app-portfolio-card>
        <div class="spacer-div"></div>
    </div>
</div>

<app-footer> </app-footer>