@import '../../../variables';
.counter-card{
    display: flex;
    h1{
        color: $brand;
        display: inline;
    }
    .col-counter-num{
        max-width: 30%;
        font-weight: 600;
        line-height: 61px;
        font-size: $h1-font;
        margin-left: 20px;
    }
    .col-counter-desc{
        margin-top: auto;
        margin-bottom: auto;
        font-size: $s-font;
        font-weight: 500;
        line-height: 23px;
        font-size: $h2-font;
        margin: 0px 50px;

    }
}

.counter-card.mobile{
    .col-counter-num{
        font-weight: 600;
        line-height: 15px;
        font-size: $p-portfolio;
    }
    .col-counter-desc{
        font-size: $sm-f;
        font-weight: 500;
        line-height: 14px;
    }
}