.weare{
    .details-div{
        padding-top: 100px;
    }
    .imgweare{
        max-width: 600px;
    }
    .tit-div {
        img {
            max-width: 30px;
            vertical-align: inherit;
            margin-right: 10px;
        }
        p {
            font-size: 18px ;
            font-weight: 600;
            display: inline;
        }
        h1{
            font-weight: bolder;
        }
    }
    .we-are-description{
        margin-top: 30px;
        line-height: 22px;
        font-weight: 600;
        color: #909292;
    }
    .contact-btn{
        min-width: 217px;
        padding: 20px;
        i{
            margin-left: 10px;
        }
    }
}