<div class="container weare"  [ngClass]="{'mobile':isMobile}" >
    <div class="img-div">
        <img class="imgweare" alt="weare" src="../../assets/we-are-img.svg" [@enterFromLeft] >
    </div>
    <div class=" details-div">
        <div class="tit-div">
            <div [@fadeInFromTop2]>
                <img class="rect" src="./../../assets/Rectangle-blue.svg" alt="rectangle">
                <p class="h-title">We are</p>
            </div>
            <h1 [@slideInFromRight]>Leaders in Management</h1>
        </div>
        <p class="we-are-description" [@fadeInFromRight]>
            Milaya Capital Limited is a company entirely owned by its management and it is free from any ownership or
            control by any banking, financial or insurance organization. Milaya Capital has built its reputation by
            being fully committed and transparent to its dealings ensuring, efficiency and effectiveness in all aspects
            of today’s business requirements.
        </p>
        <button type="button" class="btn btn-primary contact-btn" [@slideInFromRight]>
            GET IN TOUCH
            <i class="bi bi-arrow-up-right"></i>

        </button>

    </div>
</div>