.portfolio-detail-card{
    .image-shadow{
        background-color: grey;
        margin: 0px 75px 75px 75px;
        box-shadow: -42px 36px 0px grey;
        border-radius: 15px;
        width: 80%;
        float: right;
    }
    .contact-details{
        i{
            color: #2C55F1;
        }
    }
}
