<div class="container portfolio-detail-card">
    <div class="row">
        <div class="col">
            <img class="image-shadow" alt="img" src="../../assets/portfolio-card.svg">
        </div>
        <div class="col">
            <div class="row">
                <h2>MILAYA ENERGY</h2>
                <p>
                    Milaya Energy is a leading Energy provider in the Oil & Gas industry from upstream to downstream, we
                    deliver results you can rely on to enhance productivity, optimize operations, and minimize risk
                    through
                    our advanced services in the industry.

                    -Asset Management
                    -Drilling and well Intervention Services
                    -Integrated Support
                    -Project Management
                    -Oil field Supplies services

                    Milaya Energy will be the preferred vendor of rig equipment and materials for onshore and offshore
                    drilling in the Oil and Gas industry. Milaya Energy is more than an extension of your procurement
                    function. We work with you to create a single, unified process one that’s simple, efficient, and
                    generates extra value.
                </p>
            </div>
            <div class="row">
                <div class="col-6">
                    <button type="button" class="btn btn-primary contact-btn">MILAYAENERGY.COM
                        <i class="bi bi-arrow-up-right"></i> 
                    </button>
                </div>
                <div class="col-6 contact-details">
                    <div>
                        <span>
                            <i class="bi bi-geo-alt"></i> 
                            Lorem ipsum dolor sit amet, 000 UAE
                        </span>
                    </div>
                    <div>
                        <span>
                            <i class="bi bi-envelope"></i> 
                            info@milayacapital.ae
                        </span>
                    </div>
                   
                </div>

            </div>

        </div>
    </div>
</div>
