<div class="new-business-heights container" [ngClass]="{'mobile':isMobile}" >
    <div class="box">
        <span class="breadcrumb" [@slideLeftToRight]>MILAYA CAPITAL</span>
        <h1 class="black" [@slideLeftToRight]>New Business Heights</h1>
    </div>
    <div class="box">
        <h2 class="grey-p" [@fadeInFromTop]>
            We are at the highest levels by developing it with the best options. We serve with many experienced
            employees in this field.
        </h2>
    </div>
</div>

<div class="heights-slider container" >
    <app-heights-slider></app-heights-slider>
</div>