<div class="container">
  <app-navbar *ngIf="showNavbar"></app-navbar>

</div>

<div class="window home">
  <router-outlet name="primary"></router-outlet>
</div>

<div class="window about">
  <router-outlet name="primary"></router-outlet>
</div>

<div class="window mission">
  <router-outlet name="primary"></router-outlet>
</div>

<div class="window portfolio">
  <router-outlet name="primary"></router-outlet>
</div>

<div class="window contact">
  <router-outlet name="primary"></router-outlet>
</div>