<app-loader [isLoading]="isLoading"></app-loader>
<div class="portfolio-slider" [@fadeInFromTop1] [ngClass]="{'mobile':isMobile}"  *ngIf="!isLoading">
  <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" >
    <div ngxSlickItem *ngFor="let slide of slides;let i = index;" class="slide">
      <div class="portfolio-card">
        <div class="portfolio-card-image">
          <img alt="portfolio" [src]="slide.img">
        </div>
        <!-- Keep them commented  -->
        <!-- <p class="portfolio-card-title">
          {{slide.title}}
        </p>
        <p class="portfolio-card-desc">
          {{slide.descr}}
        <p> -->
      </div>
    </div>
  </ngx-slick-carousel>
</div>