<div class="portfolio-slider" [@fadeInFromTop1]  [ngClass]="{'mobile':isMobile}" >
    <owl-carousel-o class="container" [options]="customOptions">
        <ng-container *ngFor="let slide of slides; let i = index;">
            <ng-template carouselSlide>
                <div class="portfolio-card">
                    <div class="portfolio-card-image">
                        <img alt="portfolio" [src]="slide.img">
                    </div>
                    <p class="portfolio-card-title">
                        {{slide.title}}
                    </p>
                    <p class="portfolio-card-desc">
                        {{slide.descr}}
                    <p>
                </div>
            </ng-template>
        </ng-container>
    </owl-carousel-o>
</div>