// @import 'variables.scss';
@import 'variables';


body {
    font-family: 'Montserrat', sans-serif;
}

* {
    font-family: 'Montserrat', sans-serif;
}

// Override the default breadcrumb font size
:root {
    --bs-breadcrumb-font-size: $s-font-2; // Set your desired font size
}

.breadcrumb {
    color: $brand;
    line-height: 20px;
    font-weight: 600;
}


h1.grey {
    color: $mid-grey;
    font-weight: 700;
    font-size: $l-font ;
    line-height: 49px;
}

h1.black {
    color: $dark-grey;
    font-weight: 700;
    font-size: $l-font ;
    line-height: 49px;
}

p.small {
    color: $p-grey-sm;
    font-weight: 500;
    font-size: $p-font-sm;
    line-height: 15px;
}

.grey-p {
    color: $p-grey-sm;
    font-weight: 500;
    font-size: $p-font-sm;
}

$small-spacer: 20px;
$spacer: 40px;
$big-spacer : 135px;

.px-2 {
    padding-left: ($spacer * .5);
    padding-right: ($spacer * .5);
}


.top-spacer {
    padding-top: $spacer;
}


.spacer-div {
    min-height: $spacer;
}

.home-spacer-div {
    min-height: $big-spacer;
}


.small-spacer-div {
    min-height: $small-spacer !important;
}

.mission {
    .mission-slider-card {
        .owl-carousel {
            position: relative;
        }

        .owl-prev,
        .owl-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: $white !important;
            color: #333 !important;
            padding: 10px 15px;
            border: solid 1px grey;
            cursor: pointer;
        }

        .owl-prev {
            left: -50px;
        }

        .owl-next {
            right: -50px;
        }

        .owl-prev:hover,
        .owl-next:hover {
            background-color: #555;
        }

        .owl-item {
            margin-top: 20px;
        }
    }
}

.heights-slider {
    .owl-carousel {
        position: relative;
    }

    .owl-nav {
        position: absolute;
        top: -50px;
        right: 22px;
        margin-top: 0px !important;
        font-size: 22px;
    }

    .owl-prev:active,
    .owl-next:active {
        color: $arrow !important;
        background: none !important;
    }

    .owl-prev,
    .owl-next {
        color: $mid-grey !important;
        background: none !important;

        i {
            font-size: 22px;
        }
    }
}

.heights-slider.mobile {
    .owl-nav {
        right: 0px;
    }
}


.portfolio-slider {
    .owl-carousel {
        position: relative;
    }

    .owl-prev,
    .owl-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: $white !important;
        color: #333 !important;
        padding: 10px 15px;
        border: solid 1px grey;
        cursor: pointer;
    }

    .owl-prev {
        left: 0px;
    }

    .owl-next {
        right: 0px;
    }

    .owl-prev:hover,
    .owl-next:hover {
        background-color: #555;
    }

    .owl-item:not(:first-child):not(:last-child) {
        opacity: 1;
    }

    .owl-item:first-child:not(:active),
    .owl-item:last-child:not(:active) {
        opacity: 0.5;
        transition: opacity 0.3s ease;
    }

    .owl-item.active {
        opacity: 1 !important;
    }

    .owl-item:last-child {
        display: none;
    }

    .owl-stage {
        margin-right: 15%;
        margin-left: 11%;
    }
}

app-footer {
    position: relative;
}

app-footer::before {
    content: "";
    position: absolute;
    top: -50%;
    left: 0;
    width: 100%;
    height: 200%;
    background: url(../src/assets/footer-bg.png) center / cover repeat-y;
    z-index: -1;
    opacity: 0.9;
}

@keyframes fromTopToBottom {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fromBottomToUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Apply different animations to each slide based on the index */
.animation-slideIn-0 {
    animation: fromTopToBottom 1s ease-in-out;
}

.animation-slideIn-1 {
    animation: fromTopToBottom 1.5s ease-in-out;
}

.animation-slideIn-2 {
    animation: fromTopToBottom 2s ease-in-out;
}

.animation-slideIn-3 {
    animation: fromTopToBottom 2.5s ease-in-out;
}

.animation-slideIn-4 {
    animation: fromTopToBottom 3s ease-in-out;
}

.animation-slideIn-5 {
    animation: fromTopToBottom 3.5s ease-in-out;
}

/////////////////////////////////////////////////////////////

/* Apply different animations to each slide based on the index */
.animation-slideInFromBottom-0 {
    animation: fromBottomToUp 1s ease-in-out;
}

.animation-slideInFromBottom-1 {
    animation: fromBottomToUp 1.5s ease-in-out;
}

.animation-slideInFromBottom-2 {
    animation: fromBottomToUp 2s ease-in-out;
}

.animation-slideInFromBottom-3 {
    animation: fromBottomToUp 2.5s ease-in-out;
}

.animation-slideInFromBottom-4 {
    animation: fromBottomToUp 3s ease-in-out;
}

.animation-slideInFromBottom-5 {
    animation: fromBottomToUp 3.5s ease-in-out;
}

//////////////////////////////////////////////////////////////////////
/// 
/// 
/// 


.what-we-do-slider.mobile {
    .owl-carousel {
        position: relative;
    }

    .owl-prev,
    .owl-next {
        right: 0px;
        width: 30px;
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        background-color: none;
        padding: 10px 15px;
        cursor: pointer;
    }

    .fa-chevron-right:before,
    .fa-chevron-left:before {
        content: none !important;
    }


    .owl-prev {
        left: 0px;
        background: url(./../src/assets/arrow-left-mob.svg) !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
    }

    .owl-next {
        right: 0px;
        background: url(./../src/assets/arrow-right-mob.svg) !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
    }

    .owl-prev:hover,
    .owl-next:hover {
        background-color: #555;
    }

}

.mobile.portfolio-slider {
    .owl-item {
        width: auto !important;
    }
}
