<nav class="mobile-nav row" [ngClass]="{'contact-navbar': isContact , 'poster-navbar': isHome}">
    <div class="col-3">

    </div>
    <div class="logo col-6">
        <img class="logo-img" *ngIf="isHome !== true && isContact !== true" src="assets/logo.svg" alt="logo"
            [routerLink]="'/home'" />
        <img class="logo-img" *ngIf="isHome == true || isContact == true" src="assets/logo-light.svg" alt="logo"
            [routerLink]="'/home'" />
    </div>

    <div class="menu-btn col-3">
        <button  *ngIf="isHome == true || isContact == true" id="menubtn" (click)="toggleMobileMenu()"><img src="../../assets/textalign-right.svg" /></button>
        <button *ngIf="isHome !== true && isContact !== true"  id="menubtn" (click)="toggleMobileMenu()"><img src="../../assets/textalign-right-black.svg" /></button>
    </div>
</nav>


<div class="mobile-side-menu" *ngIf="isMobileMenuOpen" [ngClass]="{'show-mobile-menu': isMobileMenuOpen}">

    <div class="head row">
        <div class="col-6">
            <img class="logo-img" src="assets/logo-black.svg" alt="logo" [routerLink]="'/home'" />

        </div>
        <div class="col-3">
        </div>
        <div class="col-3 close-btn" (click)="toggleMobileMenu()">
            <i class=" bi bi-x"></i>
        </div>
    </div>

    <ul class="the-menu">
        <li  class="active"><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li> <a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/mission" routerLinkActive="active">Mission</a></li>
        <li> <a routerLink="/portfolio" routerLinkActive="active">Portfolio</a></li>
        <li> <a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </ul>
    
    <div class="social-media-wrapper">
        <img src="../../assets/social-media-insta.svg" alt="insta" >
        <img src="../../assets/social-media-x.svg" alt="x" >
        <img src="../../assets/social-media-fb.svg" alt="fb" >
    </div>


    <div class="divider" ></div>

    <p class="footer-copy-rights" >
        Copyright © 2023 Milaya Capital All Rights Reserved
    </p>

</div>