<!-- Footer section  -->
<div class="container footer" [ngClass]="{'mobile':isMobile}">
    <div class="f-col">
        <div>
            <img class="footer-logo" src="assets/logo-footer.svg" alt="logo"
                [@enterFromTop]="animationStates.enterFromTop">
            <p class="footer-description" [@enterFromTop]="animationStates.enterFromTop">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit, sed do eiusmod
            </p>
            <div class="wrap-email-sm" *ngIf="!isMobile">
                <!-- <div class="input-group mb-3 footer-input" [@enterFromTop2]="animationStates.enterFromTop">
                    <input type="email" class="form-control" placeholder="Enter Your Email" [(ngModel)]="userEmail"
                        aria-label="Email" aria-describedby="basic-addon1">
                    <div class="input-group-append">
                        <span class="input-group-text" (click)="onSendMail()"> <i class="bi bi-arrow-up-right"></i>
                        </span>
                    </div>
                </div> -->

                <div *ngIf="isEmailInvalid()" class="text-danger">
                    Email is not in a valid format
                </div>

                <div class="spacer-div"></div>
                <!-- <p class="error">please enter valid email</p> -->

                <div class="social-media-wrapper">
                    <img src="../../../assets/social-media-insta.svg" alt="insta"
                        [@enterFromRight]="animationStates.enterFromRight">
                    <img src="../../../assets/social-media-x.svg" alt="x"
                        [@enterFromRight]="animationStates.enterFromRight">
                    <img src="../../../assets/social-media-fb.svg" alt="fb"
                        [@enterFromRight]="animationStates.enterFromRight">
                </div>

                <p class="footer-copy-rights" [@enterFromRight2]="animationStates.enterFromRight2"
                    [ngClass]="{'mobile':isMobile}">
                    Copyright © 2023 Milaya Capital All Rights Reserved
                </p>
            </div>
        </div>


    </div>
    <div class="m-col"></div>
    <div class="s-col">
        <div class="quick-links">
            <h4 class="title" [@enterFromTop]="animationStates.enterFromTop">Company</h4>

            <p class="grey-p-small" [routerLink]="'/about'" [@enterFromTop2]="animationStates.enterFromTop2">About Us
            </p>
            <p class="grey-p-small" [routerLink]="'/mission'" [@enterFromTop3]="animationStates.enterFromTop3">Mission
                and Vision</p>
            <p class="grey-p-small" [routerLink]="'/portfolio'" [@enterFromTop3]="animationStates.enterFromTop3">
                Portfolio</p>
        </div>
        <div class="get-in-touch">
            <h4 class="title" [@enterFromTop]="animationStates.enterFromTop">Get In Touch</h4>
            <div class="email" [@enterFromTop2]="animationStates.enterFromTop2">
                <p class="grey-p-small">Email</p>
                <p class="black-p-small"> {{ 'info@milayacapital.ae' }} </p>
            </div>
            <div class="address" [@enterFromTop3]="animationStates.enterFromTop3">
                <p class="grey-p-small">Address</p>
                <p class="black-p-small">Second Floor Office , Bugatti Showroom Building Al Manara, Dubai , UAE</p>
            </div>
        </div>
    </div>

    <div class="f-col" *ngIf="isMobile">

        <div class="wrap-email-sm" >
            <!-- <div class="input-group mb-3 footer-input" [@enterFromTop]="animationStates.enterFromTop">
                <input type="email" class="form-control" placeholder="Enter Your Email" [(ngModel)]="userEmail"
                    aria-label="Email" aria-describedby="basic-addon1">
                <div class="input-group-append">
                    <span class="input-group-text"> <i class="bi bi-arrow-up-right"></i> </span>
                </div>
            </div> -->

            <div *ngIf="isEmailInvalid()" class="text-danger">
                Email is not in a valid format
            </div>

            <!-- <p class="error">please enter valid email</p> -->

            <div class="social-media-wrapper">
                <img src="../../../assets/social-media-insta.svg" alt="insta"
                    [@enterFromRight]="animationStates.enterFromRight">
                <img src="../../../assets/social-media-x.svg" alt="x"
                    [@enterFromRight]="animationStates.enterFromRight">
                <img src="../../../assets/social-media-fb.svg" alt="fb"
                    [@enterFromRight]="animationStates.enterFromRight">
            </div>
            <p class="footer-copy-rights" [@enterFromRight2]="animationStates.enterFromRight2"
                [ngClass]="{'mobile':isMobile}">
                Copyright © 2023 Milaya Capital All Rights Reserved
            </p>
        </div>

    </div>


</div>