<div class="mission-card">
    <div class="icon-mission-card">
        <i class=" bi bi-buildings"></i>
    </div>
    <p class="mission-card-title">
        REAL ESTATE
    </p>
    <div class="mission-card-image">
        <img alt="mission" src="../../assets/mission-1.svg">
    </div>

    <p class="mission-card-description">
        real estate agent, rent house, mls listings, land for sale, houses for rent, realtor,
    </p>

    <!-- <app-mission-slider></app-mission-slider> -->

    <!-- <app-mission-slider>
        <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
    </app-mission-slider> -->
   
</div>
