@import '../../../variables';

.portfolio-vertical-card {
    border-radius: 20px;
    box-sizing: border-box;
    background-color: $dark-grey;
    .text-side {
        color: $white;
        font-size: $s-font;
    }
    .image-side {
        height: auto;
        img {
            width: 100%;
        }
    }
}

.portfolio-vertical-card:hover{
    opacity: 0.8 !important;
}

.portfolio-card {
    width: 70%;

    @media screen and (max-width: 1000px) {
        width: 100%;
    }

    .right {
        display: flex;

        .image-side {
            img {
                float: right;
            }
        }
    }

    .left {
        display: flex;

        .image-side {
            img {
                float: left;
            }
        }
    }

    border-radius: 20px;
    box-sizing: border-box;
    background-color: $dark-grey;

    .text-side {
        color: $white;
        font-size: $s-font;
        flex: 1;
    }

    .image-side {
        width: 100%;
        height: auto;
        display: block;
        flex: 1;

        img {
            width: 100%;
        }
    }
}

.right-card {
    margin-right: 0px;
    margin-left: auto;
}

.left-card {
    margin-left: 0px;
    margin-right: auto;
    height: 100%;
}

.portfolio-card.mobile,
.portfolio-card.top-card {
    margin-bottom: 20px;

    .left {
        .image-side {
            img {
                float: none;
                
            }
        }
        display: block;
    }

    app-what-we-do-card.portfolio {
        .what-we-do-card {
            background: none;
            border: none;
        }
    }
}

.portfolio-vertical-card {
    .image-side{
        img{
            border-radius: 20px !important;
            height: 25vh;
            width: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }
    
    .text-side{
        // height: 25vh !important;
    }
}
